<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/about.css">
</head>

<div class="container">
	<div class="row">
		<h1>About Body & Pole Limited</h1>
	</div>

	<div class="row">
		<div class='col-sm-2'>
		</div>
		<div class='col-sm-8'>
			<p>Body & Pole Limited (Registered Business 58336) is Guernsey’s premier pole dancing firm and was founded by Anneka Saunders and Lava Lundberg in April 2014. 
			</p>

			<p>Body & Pole Limited run a variety of pole dance and fitness classes ranging from beginner to advanced. Based at La Grande Mare Health Suite we run courses, hen parties, birthday parties and private lessons. You can also book us for a performances, whether corporate functions or charity events. Please contact us for more information. 
			</p>
		</div>
		<div class='col-sm-2'>
		</div>
	</div>
</div>
