<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/classes.css">
</head>

<div class="container">
	<div class="row">
		<h1>Courses</h1>
	</div>
	<a name="level_1"></a>
	<div class="row">
		<div class='col-sm-3'>
			<h3>Level 1-Complete beginner</h3>
		</div>
		<div class='col-sm-9'>
			<p>In <i>Level 1 - Complete Beginner</i> (taught on a static pole) you will be taught the foundations of pole dance, learning technique and a series of beginner spins, transitions and floor work. You will also be taught a simple dance routine. Furthermore this class will be complemented with a few strengthening and flexibility exercises. This course is suitable for those with little or no experience or for someone who wants to re-learn from first principle. </p>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-3'>
			<h3>Level 2- Beginner</h3>
		</div>
		<div class='col-sm-9'>
			<p>In <i>Level 2 - Beginner</i> (static pole) you will continue to improve on spins taught in Level 1. You will learn how to join these moves together creating flow in your routine. You will progress with your climbs as well as learning some new spins and transitions. A new exciting dance routine is taught in this course. Furthermore, additional strengthening and flexibility exercises will accompany this course. Prerequisite for this course is Body & Pole Level 1 - Complete Beginner or previous similar experience.  </p>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-3'>
			<h3>Level 3- Beginner/intermediate</h3>
		</div>
		<div class='col-sm-9'>
			<p>In <i>Level 3 - Beginner/Intermediate </i>(static/spinning pole)will prepare you to progress onto intermediate level teaching you harder transitionary spins, harder climbs, introducing handstands and beginning to invert. You will also be taught basic techniques and practicing some beginner spins and climbs on a spinning pole. </p>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-3'>
			<h3>Pole Choreography- Beginner</h3>
		</div>
		<div class='col-sm-9'>
			<p>In <i>Pole Choreography - Beginners</i> you will learn how to alternate spins, transitions, floor-work and basic climbs creating fluidity in your routine. You will also design your own routine to your chosen piece of music. This course is open to anyone who has completed Body & Pole Level 2: Beginners or that has similar previous experience. </p>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-3'>
			<h3>Private lessons</h3>
		</div>
		<div class='col-sm-9'>
			<p>Private lessons can be booked with your instructor of choice for up to three persons per lesson. Please contact us for further enquiries. </p>
		</div>
	</div>

</div>
