<div class="container">
	<h1>Terms & Conditions</h1>

	<h2>Bookings</h2>
	<p>
	Please use our <a href="sign_up">Sign Up</a> page if booking a course and our <a href="party">Parties</a> page for booking a party. For party bookings please pay a deposit of £60 and send us a message with your preferred date and we will get back to you as soon as we can. Please note that parties will be held on weekends only. If we are unable to cater for any of your preferred dates, we will refund you the deposit. You may also book and pay for courses and parties by phone. 
	</p>
	<br>
	<p>
	If you would like to book in for a private lesson please use our <a href="contact">Contact Us</a> page to send us a message or give us a call.
	</p>
	<br>

	<h2>Disclaimer</h2>
	<p>
	Pole dance and fitness can potentially be a hazardous sport. We require all students to agree to our disclaimer prior to engaging in any pole activity. This form will be displayed at the time of booking and a printable copy will be send to you upon confirmation. You will need to bring this with you on your first day. 
	<br><u>
	Please read the disclaimer to ensure you agree to its terms before making payment. 
	<br></u>
	Failure to bring the disclaimer with you on your first day will result in you having to fill it in on arrival and may take time away from your lesson.
	</p>
	<h2>Health</h2>
	<p> 
	Any health issues must be declared prior to your class commencing. Please contact us before booking if you have had any recent injuries, operations or any other health condition which you think might impair your ability to exercise. If you are in ANY doubt regarding any health issues you must contact your GP or other health practitioner for further advice.<u> Please clear any health issues before booking on to a course. </u><br> If you turn up to your first scheduled class without having contacted us and /or your doctor or other health practitioner and have health conditions of the above named and is declared unsuited to take part in pole dancing you will be turned away and no refund will be issued. 
	<br>
	If you are pregnant or have given birth within the last 12 weeks we regret that we cannot enrol you onto any of our courses. You may take part in a party but be restricted on what you would be allowed to do. 
	<br> 
	Please complete the health declaration and bring it with you on your first day (You will receive this once you have confirmed your booking).

	Failure to bring this form with you on your first day will result in you having to fill it out on arrival and may take time away from your lesson.
	</p>
	<h2>Cancellation Policy</h2>
	<p> 
	If you would like to cancel your place on a course, a party or private lesson please use the form on the <a href="contact">Contact Us</a>  page or alternatively, call us. 
	<br>
	For courses you will receive a full refund if giving us a minimum of 28 days notice before the start of your course. Any time thereafter we can only issue you a full refund* if your place is filled by another student. 
	No refunds will be given once a course has commenced.
	<br>
	Furthermore no compensation will be given if you miss a class, we regret we are usually not able to provide an alternative slot than what you have been priorly allocated for. The course fee is not transferable to a different course starting at a different time or at a later date unless formally agreed with Body & Pole Limited.  An admin fee may apply for transfers.  
	<br>
	If you would like to cancel a pre booked party that has been paid in full, you will receive a full refund** giving us a minimum of 14 days notice. 
	<br>
	For scheduled parties where only a deposit has been paid (£60), this deposit is non-refundable.
	<br>
	If you would like to cancel a private lesson, you will receive a full refund*** if giving us a minimum of 7 days notice.
	<br> 
	We do understand that sometimes in life not everything goes as planned. We intend to provide the best customer care possible and will do our best to fill spaces at time of cancellation. If you need to change the date for your party or private lesson we will try and cater for this whenever possible. Body & Pole Limited reserves the right to cancel a course should the number of students booked not be sufficient. In the event of this occurring, you will receive a full refund.
<br>
	*    £20 Administration fee applies. <br>
	**   £60 Administration fee applies. <br>
	***  £5 Administration fee applies. <br>
	</p>
	<h2>Privacy Policy</h2>
	<p>
	Any information given to us is confidential in accordance with the Data Protection Act (1998) and would not be submitted to any third party without prior consent. 
	</p>
</div>
