<div class="container">
	<h1>Contact us</h1>

	<p>We would love to hear from you, please feel free to get in touch! 
	You can use the online form below to contact us and we will get back to you as soon as possible.
	</p>

	<div class="ticket-form">
		<div class="inner-form">

			<form role='form' method="post" class='form-inline'>

	    		<input type="text" class='form-control' name="name" placeholder="Name" >
	    		<br>
	    		<input type="text" class='form-control' name="email" placeholder="Email" >
	    		<br>
	    		<input type="text" class='form-control' name="subject" placeholder="Subject" >
				<br>
				<input type="text" class='form-control' id="messagebox" name="message" placeholder="Message" >
				<br>
	    		<button type="submit" class='btn btn-success'>Submit</button>
	    	</form> 
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
			Alternatively, phone us:
			<br>
			<p>Phone 07781 190243 for Anneka</p>
			<p>Phone 07839 200241 for Lava</p>
		</div>
		<div class="col-md-4">	
			Address:<br>
			Body & Pole Limited <br>
			Esperanza<br>
			Rue de la Porte<br>
			Castel<br>
			Guernsey<br>
			GY5 7AW<br>
		</div>
	</div>
	<div class="row">
	<div class="col-md-2">
	</div>
	
</div>


