<div class= "container">
	<h1>Disclaimer</h1>

	YOU MUST BE OVER 18 YEARS OF AGE TO PARTICIPATE
	<br>
		By clicking 'agree' when signing up for our classes you agree to the following statement:
	<br><br>
		Pole dance is a physically demanding sport, with a reasonable level of fitness required.
		<br>
		I declare that I am over 18 years old and understand the risks that Pole dance/ fitness entails, including (but not limited to) risk of serious injury or even death. I also understand that I do so entirely at my own risk.
	<br>
		Pole dance can result in bruising, friction burns, muscle aches and delayed onset of muscle soreness and these must be accepted as a risk if you are to participate in lessons.
	<br>
		I understand that Body and Pole Ltd accept no responsibility or liability for injuries or damage incurred resulting from (but not limited to) poor technique, inadequate fitness/strength, instruction, and unforeseen malfunction of equipment. Body and Pole also accept no responsibility or liability for any loss or damage to personal items.
	<br>
		I agree to release Body and Pole Ltd and its instructors from any claims for damages for injury. I also agree to waive my right to bring legal action against Body and Pole Ltd for personal injury or property loss, liabilities, claims, actions and damages, including legal fees.
	<br>
		I declare that I know of no reason why I should not be participating in a pole fitness course, and have no underlying reason that would predispose me to injury.
	<br>
		I wish to participate voluntarily in Pole dance and assume all risk of injury. I have read the above disclaimer and fully understand its terms.

</div>
