<div class= "container">
	<h1>Gallery</h1>

	<div class="row">
	  <div class="col-xs-6 col-md-3">
	    <a href="images/anneka.jpg" class="thumbnail">
	      <img src='images/anneka.jpg' alt="Responsive image">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-3">
	    <a href="images/anneka.jpg" class="thumbnail">
	      <img src='images/anneka.jpg' alt="Responsive image">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-3">
	    <a href="images/anneka.jpg" class="thumbnail">
	      <img src='images/anneka.jpg' alt="Responsive image">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-3">
	    <a href="images/anneka.jpg" class="thumbnail">
	      <img src='images/anneka.jpg' alt="Responsive image">
	    </a>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-6 col-md-3">
	    <a href="images/anneka.jpg" class="thumbnail">
	      <img src='images/anneka.jpg' alt="Responsive image">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-3">
	    <a href="images/anneka.jpg" class="thumbnail">
	      <img src='images/anneka.jpg' alt="Responsive image">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-3">
	    <a href="images/anneka.jpg" class="thumbnail">
	      <img src='images/anneka.jpg' alt="Responsive image">
	    </a>
	  </div>
	  <div class="col-xs-6 col-md-3">
	    <a href="images/anneka.jpg" class="thumbnail">
	      <img src='images/anneka.jpg' alt="Responsive image">
	    </a>
	  </div>
	</div>