<div class="container"> 
	<h1>Information</h1>

	<h3>Please read the following information if you have booked a place to ensure you make the most out of your lessons.</h3>
	<li>
	
		<h3>LESSON STRUCTURE</h3>

		<p>There are a maximum of 10 participants per class, with a 2:1 ratio on the poles</p>

		<p>Classes will inclue the following: warm-up, cool-down, stretching, strengthening exercises, pole spins, transitions and floor-work. At the end of each lesson moves taught will be choreographed to form a routine. Each week new moves will be added to the routine to create a final performance that includes many of the moves learnt throughout the course.</p>

		<p> Please ensure you arrive on time, if you miss the warm-up you may be asked to leave the class as it is not safe to complete the exercises without warming up properly.
		</p>
	<li>

		<h3>PRICING</h3>

		<p>Prices vary dependent upon level. Please see our 'Classes' page for pricing structure.</p>

		<p>A deposit of £20 must be paid in order to secure your place on the course. Please note that this deposit is non refundable if you drop out prior to the course commencing.</p>

		<p>The remainder of any course fee must be paid no later than 14 days prior to the start of the course. Failure to pay by this date may result in your place being given to another student.</p>

		<p>Preferred method of payment is via bank transfer. Please use your invoice number and name as payment reference. We will provide you with our details when you sign up.
		</p>
	<li>


		<h3>HEALTH</h3>

		<p>Any health issues must be declared prior to your class commencing. Please complete the health declaration form and bring it with you to your first lesson. Failure to bring this form with you will result in you having to fill it out on arrival and may take time away from your lesson.</p>

		<p>If you are in ANY doubt regarding any health issues please contact your GP for further advice.</p>

		<p>Please ensure you have cleared any health issues before paying your deposit.
		</p>
	<li>

		<h3>CANCELLATION POLICY</h3>

		<p>If for any reason you should need to cancel your place on the course this can be done by giving us a minimum of 48 hours notice. A refund will then be issued to you, minus the deposit.</p>

		<p>No refunds will be given regardless of the circumstances once the course has commenced</p>

		<p>Furthermore no refunds will be given if you should miss a class
		</p>
	<li>

		<h3>DISCLAIMER</h3>

		<p>Pole fitness can potentially be hazardous sport. We require all students to sign our disclaimer prior to starting your course. You will need to bring this with you on your first day.</p>

		<p>Please ensure you read the disclaimer and agree to its terms before you pay your deposit.</p>

		<p>Failure to bring your disclainer with you to your first lesson will result in you having to fill it in on arrival and may take time away from your lesson.
		</p>
	<li>


		<h3>CLOTHING</h3>

		<p>Sports type shorts and t-shirt or a vest top are preferable to wear. Although shorts are not essential for part of the level 1 (we will advise you the week before if they are necessary) they help you to grip so we do recommend them. Please don't wear any clothes that are restrictive.</p>

		<p>Shoes are optional, but you will be asked to remove them for practicing any new spins for the first time.
		</p>
	<li>


		<h3>GENERAL INFORMATION</h3>

		<p>Please ensure that you have applied NO body lotions/moisturisers/hand creams etc within 24 hours of your pole lesson. This is extremely important as it can cause you to slip form the pole.</p>

		<p>You are able to use the changing rooms and shower facilities (including towels) that belong to La Grande Mare. The spa is not included but may be available on request and at an additional cost. You may also take advantage of La Grande Mare's members club bistro.</p>

		<p>At the end of each session we will give you a couple of exercises for you to practice at home. A short practice each day will prepare you for the following session.
		</p>



		<h3> We really look forward to teaching you. If you have any questions please don't hesitate to contact us via our 'Contact us' page.</h3>

		<p>Kind Regards</p>

		<p> Anneka and Lava - Body and Pole limited, 50336</p>





		<p>
	</li>

</div> 
