<div class="container">
	<div class="col-md-10">
			<h3>Location</h3>

			<p>Our classes take place in the health suite at <a href="http://www.lagrandemare.com/health-club.htm">La Grande Mare</a>. During your class the studio will be set up with free standing poles of the finest quality to ensure maximum enjoyment and safety. <br> 
			Changing and shower facilities are available and complimentary towels provided free of charge. <br>

			A surcharge will apply for the use of spa and sauna. 
		</div>
	</div>
</div>