<div class= "container">
	<h1>Parties</h1>
	<p>For a birthday party, work party or hen do to remember, sign up below!</p>

	<p>To make the day even more special, we have teamed up with La Grande Mare hotel to offer full access to the hotel spa after your pole dancing session for a mere £10 per person extra.</p>

	<div class="ticket-form">
		<div class="inner-form">
			<p>Please complete the following form to book a party. Please give a preferred date and we will be in touch shortly to confirm availability on that date, and invoicing. We are currrently unable to host parties for groups larger than 10 people.</p>
			<br>
			<br>
			<form role='form' method="post" class='form-inline'>
				<div class="row">
					<div class='col-sm-6'>
			    		<input type="text" class='form-control' name="name" placeholder="Name" >
			    		<br>
			    		<input type="text" class='form-control' name="email" placeholder="Email" >
			    		<br>
			    		<input type="text" class='form-control' name="phone" placeholder="Phone" >
			    		<br>
			    		<input type="text" class='form-control' name="date" placeholder="Preferred date" >
			    		<br><br>
			    	</div>

			    	<div class='col-sm-6'>
						<table class="table table-hover">
							<tr>
							  <td></td>
							  <td>Group size</td>
							  <td>Price</td>  
							</tr>
							<tr>
							  <td>
							  	<input type="radio"  name="party" value="5 people"></td>
							  <td>5 or fewer</td>
							  <td>£125</td>  
							</tr>
							<tr>
							  <td>
							  	<input type="radio"  name="party" value="10 people"></td>
							  <td>10 or fewer</td>
							  <td>£200</td>  
							</tr>											
						</table>
					</div>
					<div class="spa_check">
						<input type="checkbox" name="spa" value="spa_include" class="spa_check_box">Tick this box if you want to include La Grande Mare spa access for an extra £10 per person.
					</div>
					<div class="disc">
						<input type="checkbox" name="disclaimer" value="confirmed" class="disc">Please tick to agree and comply with our <a href="disclaimer">disclaimer</a>
					</div>
					<div class="terms">
						<input type="checkbox" name="terms" value="confirmed" class="disc">Please tick to agree and comply with our <a href="conditions">terms and conditions</a>
					</div>
					<br>
		    		<button type="submit" class='btn btn-success'>Confirm Booking</button>
		    	</div>
			</form>
		</div>
	</div>	
</div>
