<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/about.css">
</head>

<div class="container">
	<div class="row">
		<h1>Pole Dance & Fitness</h1>
	</div>

	<div class="row">
		<div class='col-sm-2'>
		</div>
		<div class='col-sm-8'>
			Pole Dance and Pole Fitness is a great way to lose weight, keep fit, become stronger and more flexible whilst having fun with friends. Whether you’re poling for fun or striving towards a specific fitness goals Body & Pole is for you! Pole Dance and Pole Fitness can be enjoyed by almost anyone independent of previous experience, age* or gender. Our instructors are fully insured and qualified. 
			<br><br>
			<i>*Please note we regret we are not able to enrol anyone below the age of 18 years onto any of our Pole courses.</i>

			</p>
		</div>
		<div class='col-sm-2'>
		</div>
	</div>
</div>