<head>
   <title>Body and Pole Guernsey</title>
   <link rel="stylesheet" href="/dist/css/signup.css">
</head>

<div class="container">
	<h1>Sign Up!</h1>
	<h2>One on One Classes</h2>
	<p>If you are interested in booking one to one classes, where you will be given the undivided attention of our qualified instructors to perfect your skill and motivate you to beyond expectations, please email us using our contact page.</p>

	<hr>
	<h2>Group Classes</h2>
	<p>We offer a package of 6 weekly sessions. The form below offers courses for beginner level 1 and beginner progressive level 2. As the courses progress more levels will become available.
	 On submitting the form you will be emailed to confirm your booking and complete payment. Please note, it is only possible to do sign up for level 2 once level 1 has been completed. If you have some experience with pole dance or fitness please contact us via email to discuss your requirements and level as you may be able to progress to a higher level without attending our earlier levels as a prerequisite.</p>

	<div class="container-inner">	
		<center>		
			<div class="ticket-form">
				<div class="inner-form">
					<p>Please complete the following form to book a place on one of our courses. Prices shown are for a course of 6 consecutive weeks, starting on the day given. You will be emailed a confirmation as soon as the form is submitted, and be taken through to Worldpay to complete payment.</p>
				<form role='form' method="post" class='form-inline'  >
				<!--  action="https://secure.worldpay.com/wcc/purchase"  -->

						<!--  <input type="hidden" name="testMode" value="100">  -->
						<!-- These first four elements are mandatory. -->
						<input type="hidden" name="instId" value="1024645">
						<input type="hidden" name="cartId" value="Pole lesson">
						<input type="hidden" name="currency" value="GBP">
						<input type="hidden" name="amount" value="0">

						<!-- These elements below are optional. -->

			    		<input type="text" class='form-control' name="name" placeholder="Name" >
			    		<br>
			    		<input type="text" class='form-control' name="email" placeholder="Email" >
			    		<br>
			    		<input type="text" class='form-control' name="phone" placeholder="Phone" >
			    		<br><br>
			    		<div class="disc">
							<input type="checkbox" name="disclaimer" value="confirmed" class="disc">Please tick to agree and comply with our <a href="disclaimer">disclaimer</a>
						</div>
						<div class="terms">
							<input type="checkbox" name="terms" value="confirmed" class="disc">Please tick to agree and comply with our <a href="conditions">terms and conditions</a>
						</div>

						<table class="table table-hover">
							<tr>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td>Start date</td>
							  <td>Time</td>
							  <td>Price</td>
							  <td>Spaces remaining</td>
							  <td></td>		  
							</tr>
							<tr>
							  <td>
							  	<!-- <div class="panel-group" id="accordion4">
								  	<div class="panel panel-default">
								    	<div class="panel-heading">
								     		<h4 class="panel-title">
								        		<a data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
								          			September
								       		 	</a>
								     		</h4>
								    	</div>
								    	<div id="collapseFour" class="panel-collapse collapse">
								      		<div class="panel-body">
								        		Beginning  <br> Sept 10th..
								     		</div>
								    	</div>
								  </div>
								</div> -->
							  </td>
							  <td>
							  	<!--Booking available soon! -->
									<input type="radio"  name="group" value="april_level_1 6:30pm">
							  </td> 
							  <td>
								Level 1
							  </td>
							  <td>
							  	Thursday 30th April
							  </td>					  
							  <td>
									18:30-19:30				
							  </td>
							  <td>
									£85				
							  </td>
							  <td>
									<%= 10-count.where[value="april_level_1 6:30pm"] %>
							  </td>
							  <td>      
							  </td>
							</tr>					  
							<tr>
							  <td>
							  </td>
							  <td>
									<a href="http://www.fastcart.co.uk/cart/index.php?id=11849&item=Level+2+lessons+beginning+Thursday+30th+April+7+45pm&price=92.00" target="_top">
										Book now
									</a>
									<!-- <input type="radio"  name="group" value="april_level_2 7:30pm"> -->
							  </td>  
							  <td>
								Level 2
							  </td>
							  <td>
							  	Thursday 30th April
							  </td>					  
							  <td>
									19:45-20:45				
							  </td>
							  <td>
									£92			
							  </td>
							  <td>
									
							  </td>
							  <td>      
							  </td>
							</tr>
							<tr>
							  <td>
							  </td>
							  <td>
									<a href="http://www.fastcart.co.uk/cart/index.php?id=11849&item=Level+3+lessons+beginning+Friday+1st+May+6+15pm&price=92.00" target="_top">
										Book now
									</a>
									<!-- <input type="radio"  name="group" value="april_level_2 7:30pm"> -->
							  </td>  
							  <td>
								Level 3
							  </td>
							  <td>
							  	Friday 1st May
							  </td>					  
							  <td>
									18:15-19:15				
							  </td>
							  <td>
									£92			
							  </td>
							  <td>
								
							  </td>
							  <td>      
							  </td>
							</tr>	
							<tr>
							  <td>
							  </td>
							  <td>
									<a href="http://www.fastcart.co.uk/cart/index.php?id=11849&item=Level+4+lessons+beginning+Friday+1st+May+7+15pm&price=99.00" target="_top">
										Book now
									</a>
									<!-- <input type="radio"  name="group" value="april_level_2 7:30pm"> -->
							  </td>  
							  <td>
								Level 4
							  </td>
							  <td>
							  	Friday 1st May
							  </td>					  
							  <td>
									19:15-20:15				
							  </td>
							  <td>
									£99			
							  </td>
							  <td>
								
							  </td>
							  <td>      
							  </td>
							</tr>		
						</table>

						<br>
						<br>
<!-- 
			    		<button type="submit" class='btn btn-success' onclick="alert()" onclick="calculate(this.form)">Confirm Booking</button>

 -->
						<script>
						function alert() {
						    var x;
						    if (confirm("Please check that you have completed all details on the form") == true) {
						        x = "Thankyou" }
						    else {
						        x = "";
						    }
						    document.getElementById("demo").innerHTML = x;
						}
/*
						function calc(class) {
							if (class=="march_level_1_745pm") {
								document.BuyForm.amount.value = 85.00;
							else 
								document.BuyForm.amount.value = 92.00;
							}
						}

						function validate_form(x)
						*/
						
						</script>
			    	</form>
				</div>
			</div>
		</center> 
    </div>
</div>

